body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cadastro_pessoa {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    position: relative;
    border: 1px solid #ccc; 
}

#back-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 20px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#endereco {
    margin-top: 20px; /* Adicione um espaçamento entre o formulário de pessoa e o de endereço */
    padding: 10px;
    border: 1px solid #000000; /* Adiciona borda ao formulário de endereço */
    border-radius: 5px;
}